Repository dhruvilp/cs419-ml-group1, pull requests merged in 2020-04, with the labels that each got.

#17 UI for auth pages
  frontend/src/assets/img/logo_text_only_white.png
  frontend/src/components/CybneticsFooter.jsx
  frontend/src/components/CybneticsNavbar.jsx
  frontend/src/components/RestrictedRoute.jsx
  frontend/src/index.js
  frontend/src/pages/Challenges.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Leaderboard.jsx
  frontend/src/pages/Login.js
  frontend/src/pages/Login.jsx
  frontend/src/pages/Openground.jsx
  frontend/src/pages/Signup.jsx
  frontend/src/services/auth_service.js
Labels: frontend, ui

#28 add basic models endpoints
  backend/cybnetics/endpoints.py
  backend/cybnetics/resources/db.py
  backend/cybnetics/resources/models.py
  backend/cybnetics/resources/users.py
  backend/cybnetics/utils.py
Labels: backend

#30 Auth integration
  backend/app.py
  backend/cybnetics/endpoints.py
  backend/requirements.txt
  frontend/package.json
  frontend/src/components/CybneticsNavbar.jsx
  frontend/src/index.js
  frontend/src/pages/Challenges.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Signup.jsx
  frontend/src/services/auth_service.js
Labels: backend, frontend, integration

#32 Challenges Page
  frontend/src/components/CybneticsNavbar.jsx
  frontend/src/index.js
  frontend/src/pages/Challenges.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/UserDashboard.jsx
  frontend/src/text.txt
Labels: frontend, ui

#42 final endpoints
  backend/cybnetics/endpoints.py
  backend/cybnetics/resources/model_datasets.py
  backend/cybnetics/resources/model_images.py
  backend/cybnetics/resources/models.py
  backend/cybnetics/utils.py
Labels: backend

#45 Leaderboard UI
  frontend/src/pages/Leaderboard.jsx
  frontend/src/services/auth_service.js
  frontend/src/services/user_service.js
Labels: frontend, ui
